NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres:123456@localhost:5432/courtsphere?schema=public"
CORS_ORIGIN="http://localhost:5173,http://127.0.0.1:5173"
LOG_LEVEL=info
JWT_ACCESS_SECRET="courtsphere_access_secret_1234567890"
JWT_REFRESH_SECRET="courtsphere_refresh_secret_1234567890"
JWT_ACCESS_EXPIRES_IN="1h"
MOCK_PAYMENT_SECRET="courtsphere_mock_payment_secret_123456"
PAYMENT_GATEWAY=mock
FRONTEND_BASE_URL="http://localhost:5173"
BACKEND_PUBLIC_BASE_URL="http://localhost:3000"
MOMO_ENDPOINT="https://test-payment.momo.vn/v2/gateway/api/create"
MOMO_PARTNER_CODE="MOMO"
MOMO_ACCESS_KEY="F8BBA842ECF85"
MOMO_SECRET_KEY="K951B6PE1waDMi640xX08PD3vg6EkVlz"
MOMO_PARTNER_NAME="CourtSphere"
MOMO_STORE_ID="CourtSphereStore"
MOMO_REDIRECT_URL="http://localhost:5173/payments/momo-return"
MOMO_IPN_URL="http://localhost:3000/api/payments/callback/momo"
MOMO_REQUEST_TYPE="payWithMethod"
MOMO_LANG=vi
